body {
    background:skyblue;
    font-family:sans-serif;
}

.assignment {
    display:flex;
    padding: 10px;
    margin: 10px;
    background: lightslategray;
}

.assignment img {
    width:200px;
    padding:10px;

}
h1 {
    color:palevioletred;
    text-align:center;
}