body {
    background:skyblue;
    font-family:sans-serif;
}
.assignments{
    display:flex;
    flex-wrap:wrap;
}
.assignment {
    width:14%;
    padding: 10px;
    margin: 10px;
    background: lightslategray;
}

.assignment img {
    width:200px;
    margin:10px;
    display:block;
    margin:auto;
    border:4px solid #FFF;

}
h1 {
    color:palevioletred;
    text-align:center;
}
h2{
    text-align:center;
}